/* Theme Abstract */
@include font-face( 'abstractregular', font-files( '#{$font-path}themes/abstract/abstract-webfont.woff', '#{$font-path}themes/abstract/abstract-webfont.eot', "#{$font-path}themes/abstract/abstract-webfont.ttf", "#{$font-path}themes/abstract/abstract-webfont.svg" ) );

.theme-abstract {
    background: url(#{$img-path}bg_abstract.jpg) repeat fixed 0 0;

    .toolbar,
    .panel {
        background: url(#{$img-path}bg_marble_black.jpg) repeat scroll 0 0 transparent;
        border: 3px solid $brand-color2;
        border-radius: 10px;
    }

    fieldset {
        background: url(#{$img-path}bg_marble_white2.jpg) repeat scroll 0 0 transparent;
        border: 3px solid $brand-color2;
        border-radius: 10px;
    }

    legend {
        color: $global-white;
        font: 12px 'abstractregular' !important;
        letter-spacing: 0;
        text-align: center;
        text-shadow: none;
        top: -20px;
    }

    label {
        color: $monotone3;
    }

    .log {
        input[type=text],
        label {
            color: $monotone1;
        }
    }

    #message {
        background-color: $global-white;
        color: $monotone3;
        border-color: $global-white;
    }
}
