/* Theme Basketball */
@include font-face( 'nba_bullsregular', font-files( '#{$font-path}themes/basketball/nba_bulls-webfont.woff', '#{$font-path}themes/basketball/nba_bulls-webfont.eot', "#{$font-path}themes/basketball/nba_bulls-webfont.ttf", "#{$font-path}themes/basketball/nba_bulls-webfont.svg" ) );

.theme-basketball {
    $global-white: #fefefe;
    $brand-color3: #8b0d0e;

    background: url(#{$img-path}bg_basketball.jpg) repeat fixed 0 0;

    .toolbar,
    .panel {
        border: 3px solid $brand-color3;
        border-radius: 10px;
        background: $global-white;
        opacity: 0.9;
    }

    fieldset {
        background: url(#{$img-path}bg_wood.jpg) repeat scroll 0 0 transparent;
        border: 3px solid $brand-color3;
        border-radius: 10px;
    }

    legend {
        text-shadow: none;
        color: $brand-color3;
        font: 20px 'nba_bullsregular' !important;
        letter-spacing: 0;
        text-align: center;
    }

    .options {
        select {
            background-color: $global-white;
        }
    }

    .log {
        #message {
            background-color: $global-white;
            color: $brand-color3;
            border: 3px solid $brand-color3;
            border-radius: 10px;
        }
    }
}
