/* Theme Space */
.theme-space {
    background-color: $global-black;
    background: url(#{$img-path}bg_space.jpg) repeat fixed center center;
    background-size: cover;

    .toolbar,
    .panel {
        background: url(#{$img-path}bg_marble_black.jpg) repeat scroll 0 0 transparent;
        border: 3px solid $monotone3;
        border-radius: 30px;
    }

    fieldset {
        background: none no-repeat scroll 0 0 $monotone2;
        border: 3px solid $monotone3;
        border-radius: 30px;
        opacity: 0.9;
    }

    .options {
        select {
            background-color: $global-white;
        }
    }

    .log {
        #message {
            background-color: $monotone1;
            color: $global-white;
            border-color: $monotone1;
        }
    }
}
