/* --------------- General --------------- */

/* Portrait and Landscape */
@media only screen and (max-width: 992px) {
    .panel {
        padding: 30px 20px 20px;

        + .panel {
            margin-top: 20px;
        }
    }
}

@media only screen and (max-width: 768px) {
    .panel {
        padding: 30px 10px 10px;

        + .panel {
            margin-top: 10px;
        }
    }
}

@media only screen and (max-width: 350px) {
    .panel {
        padding: 1px;

        fieldset {
            padding: 1px;
        }

        legend {
            display: none;
        }
    }
}
