/* Theme Future */
.theme-future {
    background: url(#{$img-path}bg_future.jpg) repeat fixed 0 0;

    .toolbar,
    .panel {
        background: url(#{$img-path}bg_marble_white.jpg) repeat scroll 0 0 transparent;
        border: 3px outset $monotone9;
        border-radius: 10px;
        box-shadow: 3px 3px 40px $global-black;
    }

    fieldset {
        background: url("#{$img-path}bg_marble.jpg") repeat scroll 0 0 transparent;
        border: 3px outset $monotone9;
        border-radius: 10px;
        opacity: 0.9;
    }

    .log {
        #message {
            background-color: $global-white;
            color: $monotone3;
            border-color: $global-white;
        }
    }
}
