/*
 * @todo slow performance for transitions in FF
 */
.panel {
    background: url(#{$bg-marble}) repeat scroll 0 0 transparent;
    border: 3px outset $monotone9;
    border-radius: 3px;
    box-shadow: 3px 3px 40px $global-black;
    width: 100%;
    height: auto;
    padding: 30px;
    position: relative;
    /*-moz-transition: all 0.4s ease-in;
    -o-transition: all 0.4s ease-in;
    -webkit-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in;*/

    + .panel {
        margin-top: 40px;
    }

    fieldset {
        background: url(#{$bg-pentagon}) repeat scroll 0 0 transparent;
        border: 3px inset $monotone9;
        display: block;
        padding: 10px;
        position: relative;
        height: 100%;
        width: 100%;
    }

    legend {
        color: $monotone9;
        cursor: move;
        display: block;
        font: bold 20px Helvetica;
        left: -3px;
        letter-spacing: 5px;
        padding: 0;
        position: absolute;
        text-align: left;
        text-shadow: 1px 1px $global-white, -1px -1px $monotone4;
        top: -30px;
        width: 100%;
    }

    label {
        color: $global-white;
    }
}
