<?xml version="1.0" encoding="utf-8"?>
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>IIS</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://dev.yambo.be/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <MSDeployServiceURL>dev.yambo.be</MSDeployServiceURL>
    <DeployIisAppPath>dev.yambo.be</DeployIisAppPath>
    <SkipExtraFilesOnServer>false</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <UserName></UserName>
    <_SavePWD>false</_SavePWD>
    <!-- Source folder to publish -->
    <PublishDir>public</PublishDir>
  </PropertyGroup>
</Project>
