@import "compass/reset";

html {
    height: 100%;
}

body {
    background-color: $brand-color2;
    background: -webkit-gradient(radial, center center, 0, center center, 460, from($brand-color1), to($brand-color2));
    background: -webkit-radial-gradient(circle, $brand-color1, $brand-color2);
    background: -moz-radial-gradient(circle, $brand-color1, $brand-color2);
    background: -ms-radial-gradient(circle, $brand-color1, $brand-color2);
    height: 100%;
}

h1 {
    color: $global-white;
    font: bold 36px arial;
    text-shadow: -1px -1px $global-white, 5px 5px $global-black;

    .version {
        text-shadow: -1px -1px $global-white, 2px 2px $global-black;
        font-size: 12px;
        padding: 0 20px;
    }
}
